<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @entrepreneur.organization %>
</p>

<%= link_to 'Edit', edit_entrepreneur_path(@entrepreneur) %> |
<%= link_to 'Back', entrepreneurs_path %>
