<body>
  <div id="content">
    <div class="container">
      <div class="card">
        <article class="card-body">
          <h2>Registro</h2>
          <h5>Por favor contactar saul.gonzalez@mtycic.org para conseguir una cuenta a la plataforma.</h5>
        </article>
      </div>
    </div>
  </div>
</body>

