<h1>Editing Centro Investigacion</h1>

<%= render 'form', centro_investigacion: @centro_investigacion %>

<%= link_to 'Show', @centro_investigacion %> |
<%= link_to 'Back', centro_investigacions_path %>
