<div class="card mt-4">
  <div class="card-header">
    <h4>Datos de Contacto Asociado</h4>
  </div>
  <div class="card-body">
    <b>Nombre:</b> <%= user.name%>
    <br />
    <b>Puesto:</b> <%= user.job %>
    <br />
    <b>Correo electrónico:</b> <%= user.email %>
    <br />
    <b>Teléfono de Contacto:</b> <%= user.contact_telephone %>
  </div>
</div>