<tr class="nested-fields">
  <td> <%= f.text_field :name, class:"form-control" %> </td>
  <td> <%= f.date_select :date, discard_day: true, discard_month: true %> </td>
  <td>
    <%= f.check_box :_destroy, hidden: true %>
    <%= link_to_remove_association "Remover", f %>
  </td>
</tr>
