<tr class="nested-fields">
      <td><%= f.text_field :name, class:"form-control"%> </td>
      <td> <%= f.text_field :industry, class:"form-control" %> </td>
      <td><%= f.check_box :_destroy, hidden: true %><%= link_to_remove_association "Remover", f , class:"btn btn-outline-warning" %></td>
</tr>
