<div
  id="main-content"
  class="container"
  style="background-color: white;"
>
  <h1>Registro de empresa</h1>
  <%= render 'form', company: @company %>
  <div class="text-right">
    * La empresa creada se registrará con los datos de contacto de la cuenta registrante.
  </div>
</div>
